
<%- include('partials/head') %>

<body>
    <h1><%= title %></h1>
    <p>Today's Special are</p>
    <ul>
        <% todoList.forEach(todo => { %>
        <li><%= todo.todo %></li>
        <% }) %>
    </ul>
    <form action="/api/todos" method="POST">
        <label for="todo"></label>
        <input type="text" name="todo" placeholder="enter a todo">
        <button type="submit">Add</button>
    </form>
    <!-- <%- include('partials/pageend.ejs') %> -->
</body>
</html>